.unmatchedContainer {
  padding: 0 12px 12px;
}

.breadcrumbHeading {
  height: 34px;
}

.unmatchedContainer .configLeftBottom {
  margin-top: 12px;
}

.unmatchedContainer .configSelectBoxTop {
  margin-top: 0;
}

/* Accordion */
.unmatchedContainer .accordion-item {
  border-radius: 8px;
  background-color: var(--color-light-blue);
  border: 1px solid var(--color-border-default);
}

.unmatchedContainer .accordion-header {
  padding: 12px 12px;
}

.unmatchedContainer .accordion-header .allFiltersBtn {
  width: 88px;
}

.unmatchedContainer .accordion-body {
  padding: 0 12px;
}

.unmatchedContainer .accordion-body .configSelectBoxTop .col-1 {
  padding: 0 6px;
  width: 25%;
  flex: inherit;
  margin-top: 8px;
}


/* active */


@media(max-width:1441px) {
  .table-responsive.transactionReport .table {
    width: 1320px;
  }
}


@media (max-width: 768px) {
  .unmatchedContainer {
    padding-bottom: 0;
  }

  .unmatchedContainer .accordion-body .configSelectBoxTop .col-1 {
    width: 33%;
  }
}

@media (max-width: 425px) {
  .breadcrumbHeading {
    flex-direction: column-reverse;
    align-items: flex-start !important;
    margin: 12px 0;
  }

  .unmatchedContainer .accordion-body .configSelectBoxTop .col-1 {
    width: 100%;
  }

  .table-responsive.transactionReport .table {
    width: 1300px;
  }
}

/* Calendar */

/* Table Modal */


/* ------------------- Active Cards ------------------- */


@media (min-width:425px) and (max-width:767px) {

  .configLeftTop2 .btnPrimaryOutline,
  .configLeftTop2 .btnPrimary {
    width: 125px !important;
  }
}



/* iiiiiiiiiiiiiiiiiiiiiiiiiiiii */

/* Alert */

/* Search Criteria */

/* Summary */

.icon-Icon-2 {
  color: #fff !important;
}

/* CSS */
.tableToggle {
  width: 12px;
  height: 12px;
  background-color: #109d49;
  border-radius: 50px;
  margin-left: 9px;
  position: relative;
}

.tableToggle .icon-Icon-2:before {
  content: "\e917";
  color: #fff;
  font-size: 9px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}