/* Alert */

/* Search Criteria */
.searchCriteriaBox {
    margin-bottom: 12px;
}

/* Summary */

.tableContentBox .form-check-input {
    margin-top: 0;
    margin-right: 12px;
}

.tableContentBox .form-check-input:checked {
    background-color: var(--color-primary-default);
    border-color: var(--color-primary-default);
}




/* new Css by a */


.tableBorderBox .issue-pass .table {
    width: 100%;
}


/* Transfer Money CSS */

.remitter-Search {
    border-radius: 8px;
    background-color: var(--color-light-blue);
    border: 1px solid var(--color-border-default);
    padding: 12px;
}

.remitter-SearchField {
    display: flex;
    align-items: center;
}


.has-search.hasPass-Search .form-control {
    width: 220px;
    height: 32px;
    border-color: var(--color-border-default);
    padding-left: 12px;
    font-family: "Inter";
    font-size: var(--font-size14);
    letter-spacing: 0.02em;
    color: var(--color-black);
    background-color: var(--background-white);
}


.remitterText {
    font-size: var(--font-size14);
    color: var(--color-black);
}

.remitterText~span {
    font-size: var(--font-size14);
    color: var(--color-primary-default);
    text-decoration: underline;
    font-weight: var(--font-weight-500);
    margin-left: 6px;
    cursor: pointer;
}

.btnPrimaryOutline.issueBtn,
.btnPrimary.issueBtn {
    width: 150px;
}


.hasPass-Search:first-child {
    margin-right: 6px;
}


/* Box css */
.configSelectBoxTop2 .clientNameSelect {
    margin-bottom: 12px;
}

.configSelectBoxTop {
    margin-top: 8px;
    padding: 0 6px;
}



.concRegistrationgrid .col {
    width: 25%;
    padding: 0 6px;
    margin-bottom: 12px;
}



.concBoxTittle {
    font-style: normal;
    font-weight: var(--font-weight-500);
    font-size: var(--font-size16);
    line-height: 17px;
    letter-spacing: 0.02em;
    margin-top: 10px;
    color: var(--color-black);
}



@media(max-width:1250px) {

    .tableBorderBox .issue-pass .table {
        width: 1000px;
    }
}

@media(max-width:1200px) {

    .tableBorderBox .issue-pass .table {
        width: 1000px;
    }
}

@media(max-width:900px) {

    .tableBorderBox .issue-pass .table{
        width: 1000px;
    }
}

@media(max-width:768px) {

    .tableBorderBox .issue-pass .table {
        width: 1000px;
    }



}

@media(max-width:767px) {

    /* new issue Css */
    .has-search.hasPass-Search .form-control {
        width: 24vw;
    }
}

@media(max-width:615px) {

    /* new issue Css */
    .has-search.hasPass-Search .form-control {
        width: 100%;
    }


}


@media(max-width:425px) {

    .remitter-SearchField {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .has-search.hasPass-Search .form-control {
        width: 100%;

    }

    .full-width {
        width: 100%;
    }

    .searchFieldsBtns {
        margin-top: 12px;
    }

    .notFoundLink {
        text-align: center;
    }

    .hasPass-Search:first-child {
        margin-right: 0px;
        margin-bottom: 12px;
    }

    .issueBtns {
        display: flex;
        flex-direction: column;

    }

    .issueBtns button {
        margin-left: 0px !important;
        width: 100% !important;
    }

    .issueBtns button:first-child {
        margin-bottom: 12px;
    }
}


@media(max-width:768px) {

    .concRegistrationgrid .col {
        width: 33.33%;
        padding: 0 6px;
        margin-bottom: 12px;
    }

}

@media(max-width:500px) {


    .concRegistrationgrid .col {
        width: 100%;
        padding: 0 6px;
        margin-bottom: 12px;
    }

                .tableBorderBox .issue-pass .table {
                    width: 900px;
                }

}

/*  */