.searchCriteriaBox {
    margin-bottom: 12px;
}



.configSelectBoxTop2 .clientNameSelect {
    margin-bottom: 12px;
}

.identificationContainer .configSelectBoxTop {
    margin-top: 10px;
}

.configSelectBoxTop {
    margin-top: 8px;
    padding: 0 6px;
}



.concRegistrationgrid .col {
    width: 25%;
    padding: 0 6px;
    margin-bottom: 12px;
}



.concBoxTittle {
    font-style: normal;
    font-weight: var(--font-weight-500);
    font-size: var(--font-size16);
    line-height: 17px;
    letter-spacing: 0.02em;
    margin-top: 10px;
}


.concBtns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 24px;
}

.concSubmitBtn {
    margin-left: 6px;
}


@media(max-width:768px) {

    .concRegistrationgrid .col {
        width: 33.33%;
        padding: 0 6px;
        margin-bottom: 12px;
    }

}

@media(max-width:500px) {


    .concRegistrationgrid .col {
        width: 100%;
        padding: 0 6px;
        margin-bottom: 12px;
    }

}