@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4xvorq');
  src:  url('fonts/icomoon.eot?4xvorq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4xvorq') format('truetype'),
    url('fonts/icomoon.woff?4xvorq') format('woff'),
    url('fonts/icomoon.svg?4xvorq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Minus:before {
  content: "\e916";
  color: #fff;
}
.icon-Plus:before {
  content: "\e917";
  color: #fff;
}
.icon-admin-management:before {
  content: "\e900";
  color: var(--color-primary-default);
}
.icon-client-management:before {
  content: "\e901";
  color: var(--color-primary-default);
}
.icon-Concessionaire:before {
  content: "\e902";
  color: var(--color-primary-default);
}
.icon-Dashboard:before {
  content: "\e903";
  color: var(--color-primary-default);
}
.icon-Downloads:before {
  content: "\e904";
  color: var(--color-primary-default);
}
.icon-Hamburger-Menu:before {
  content: "\e905";
  font-size: 24px;
  color: var(--color-black);
}
.icon-Home:before {
  content: "\e906";
  color: var(--color-primary-default);
}
.icon-notification:before {
  content: "\e907";
  color: var(--color-primary-default);
}
.icon-Pass-Management:before {
  content: "\e908";
  color: var(--color-primary-default);
}
.icon-Plaza-Management:before {
  content: "\e909";
  color: var(--color-primary-default);
}
.icon-profile:before {
  content: "\e90a";
  color: var(--color-primary-default);
}
.icon-Reconciliation:before {
  content: "\e90b";
  color: var(--color-primary-default);
}
.icon-Reports:before {
  content: "\e90c";
  color: var(--color-primary-default);
}
.icon-Search:before {
  content: "\e90d";
  color: var(--color-primary-default);
}
.icon-search-header:before {
  content: "\e90e";
  color: var(--color-primary-default);
}
.icon-settings:before {
  content: "\e90f";
  color: var(--color-primary-default);
}
.icon-Sort-icon:before {
  content: "\e910";
  color: #868686;
}
.icon-Table-Sorting:before {
  content: "\e911";
  color: #868686;
}
.icon-Toll-Fare-Management:before {
  content: "\e912";
  color: var(--color-primary-default);
}
.icon-transaction:before {
  content: "\e913";
  color: var(--color-primary-default);
}
.icon-Vehicle-Class-Management:before {
  content: "\e914";
  color: var(--color-primary-default);
}
.icon-vertical-line:before {
  content: "\e915";
  color: var(--color-primary-default);
}
